<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated turbinedata -->
      <package
            uri="http://com/suzlon/models/turbine"
            class="model.ModelPackage"
            genModel="model/turbinedata.genmodel"/>
   </extension>

</plugin>
